
@{
    ViewBag.Title = "Dashboard - Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Dashboard</h2>*@
<br />
<br />
<div class="card-group" style="display:flex">
    <div class="card">
        <img class="card-img-top" src="~/images/540-5406073_support-customer-clipart-hd-png-download.png" alt="Card image cap" style="width: 100%;height:300px;">
        <div class="card-body">
            <h5 class="card-title">Survey Summary</h5>
            <p class="card-text">By Clicking on this,you can modify the Organization details.</p>
            <a href="/Customer/OrgEdit" class="btn btn-primary">Click here</a>
        </div>
        <div class="card-footer">
            <small class="text-muted" style="margin:0 50px">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/survey.png" alt="Card image cap" style="width: 100%;height:300px;">
        <div class="card-body">
            <h5 class="card-title">Survey Management</h5>
            <p class="card-text">By Clicking on this,you can modify the Survey details.</p>
            <a href="/Survey/SurveyManage" class="btn btn-primary">Click here</a>
        </div>
        <div class="card-footer">
            <small class="text-muted" style="margin:0 50px">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/contact.png" alt="Card image cap" style="width: 100%;height:300px;">
        <div class="card-body">
            <h5 class="card-title">Contact Management</h5>
            <p class="card-text">By Clicking on this, you can modify the Contact details. </p>
            <a href="/Contact/Index" class="btn btn-primary">Click here</a>
        </div>
        <div class="card-footer">
            <small class="text-muted" style="margin:0 50px">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/authorization.jpg" alt="Card image cap" style="width: 100%;height:300px;">
        <div class="card-body">
            <h5 class="card-title">Authorization</h5>
            <p class="card-text">By Clicking on this, you can modify the Customers details. </p>
            <a href="/Authorization/Index2" class="btn btn-primary">Click here</a>
        </div>
        <div class="card-footer">
            <small class="text-muted" style="margin:0 50px">Last updated 3 mins ago</small>
        </div>
    </div>
</div>