<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link rel="shortcut icon" type="image/png" href="="~/images/IDRS2.png" />*@    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="~/Content/Dashboard.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <style>
        body {
            zoom: 90%;
            padding: 0px;
            background: url(../../images/ws_Horizon_2560x1600.jpg) no-repeat 0px 0px;
            min-height: 100vh;
            background-size: cover;
            background-attachment: fixed;
        }

        .rate {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="padding:1px; text-align:center; background-color:aliceblue; border:1px solid">
            <img src="~/images/infogain-logo.png" alt="Infogain Logo" style="width:75%; height:65px;">
        </a>
        @{
            if (Session["Admin"] != null)
            {
                <span style="color:white; font-weight:500; font-size:larger;margin-left:-250px;">Integrated Development Reporting System</span>
                <div class="btn-group mr-2" style="width:200px">
                    <a class="btn btn-primary btn-sm btn-outline-light" href="#">ETL</a>
                    <a class="btn btn-primary btn-sm btn-outline-light" href="#">EIM</a>
                </div>
                @*<input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">*@
            }
            else if (Session["CustId"] != null)
            {
                <span style="color:white; font-weight:500; font-size:20px; margin-left:-700px;">Integrated Development Reporting System</span>
            }
        }
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <span style="color:white; font-weight:500; font-size:larger;padding:20px;">Hi, @Session["LogedUser"]</span>
                <button class="btn btn-danger">
                    <a class="nav-link" href="/Home/Logout" style="color:white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>Sign out
                    </a>
                </button>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column" style="margin-top:30px">
                        @{
                            if (Session["Admin"] != null)
                            {
                                if (ViewBag.Title == "Dashboard - Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/Admin/AdminActivities">
                                            <span data-feather="home"></span>
                                            Dashboard
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Admin/AdminActivities">
                                            <span data-feather="home"></span>
                                            Dashboard
                                        </a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link" href="https://app.powerbi.com/groups/me/reports/60250d99-9283-4811-8d84-756c2489898c" target="_blank">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                                        AI Analytics
                                    </a>
                                </li>
                                if (ViewBag.Title == "Authorization")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/Authorization/Index2">
                                            <span data-feather="users"></span>
                                            Authorization
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link " href="/Authorization/Index2">
                                            <span data-feather="users"></span>
                                            Authorization
                                        </a>
                                    </li>
                                }
                                if (ViewBag.Title == "Admin - Survey")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/Survey/SurveyManage">
                                            <span data-feather="bar-chart-2"></span>
                                            Survey
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Survey/SurveyManage">
                                            <span data-feather="bar-chart-2"></span>
                                            Survey
                                        </a>
                                    </li>
                                }
                                if (ViewBag.Title == "Customer Management")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/Customer/OrgEdit">
                                            <span data-feather="users"></span>
                                            Survey Summary
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Customer/OrgEdit">
                                            <span data-feather="users"></span>
                                            Survey Summary
                                        </a>
                                    </li>
                                }
                            }
                            if (ViewBag.Title == "Contact Details")
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" href="/Contact/Index">
                                        <span data-feather="phone"></span>
                                        Contacts
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Contact/Index">
                                        <span data-feather="phone"></span>
                                        Contacts
                                    </a>
                                </li>
                            }
                        if (ViewBag.Title == "Business Unit")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/BusinessUnit/GetAllBU">
                                            <span data-feather="clipboard"></span>
                                            Business Unit
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/BusinessUnit/GetAllBU">
                                            <span data-feather="clipboard"></span>
                                            Business Unit
                                        </a>
                                    </li>
                                }
                        }
                        @*else if (ViewBag.Title == "Index")
        {
            <li class="nav-item">
                <a class="nav-link " href="/Admin/AdminActivities">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                        AI Analytics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Customer/Index2">
                        <span data-feather="users"></span>
                        Authorization
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Survey
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="phone"></span>
                        Contacts
                    </a>
                </li>
            }*@


                        @*else if (Session["CustId"] != null)
                        {
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                <span data-feather="bar-chart-2"></span>
                Survey<span class="sr-only">(current)</span>
            </a>
                        </li>
                        }
                        }*@

                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    @{if (Session["CustId"] != null)
                        {

                            <h1 class="h2">Survey</h1>
                        }
                        else if (Session["Admin"] != null)
                        {

                            if (ViewBag.Title == "Dashboard - Admin")
                            {
                                <h1 class="h2">Dashboard</h1>
                            }
                            else if (ViewBag.Title == "Admin - Survey")
                            {
                                <h1 class="h2">Survey Details</h1>
                            }
                            else if (ViewBag.Title == "Authorization")
                            {
                                <h1 class="h2">Authorization</h1>
                            }
                            else if (ViewBag.Title == "Contact Details")
                            {
                                <h1 class="h2">Contact</h1>

                            }
                            else if (ViewBag.Title == "Customer Management")
                            {
                                <h1 class="h2">Survey Summary</h1>
                            }
                            else if (ViewBag.Title == "Business Unit")
                            {
                                <h1 class="h2">Business Unit</h1>
                            }
                        }
                    }
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            @if (Session["CustId"] != null)
                            {
                                if (Session["DS"] != null)
                                {
                                    <a class="btn btn-secondary btn-sm btn-outline-light active" href="/Survey/Index">Delivery Management</a>
                                    <a class="btn btn-secondary btn-sm btn-outline-light" href="/Survey/ExIndex">Executive Management</a>
                                }
                                else if (Session["ES"] != null)
                                {
                                    <a class="btn btn-secondary btn-sm btn-outline-light" href="/Survey/Index">Delivery Management</a>
                                    <a class="btn btn-secondary btn-sm btn-outline-light active" href="/Survey/ExIndex">Executive Management</a>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>Copyright &copy; @DateTime.Now.Year Infogain. All rights reserved</p>
                    </footer>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

</body>
</html>